extends layout 

block content 
  
  h1 Welcome back #{username}

  //- logout
  form(action='/logout' method='GET') 
    input(type='submit' name='logout' value='Logout')

  //- create lobby
  //- get list of currently open lobbies