h1= username
    div(id='chat-box')
    form(id='chat-form')
        label(for='chatTextInput') Message:
        input(type='text' name='chatTextInput' id='msg' 
        placeholder='type message')
        input(type='submit' style='display: none')

    // ======== Imported Libraries ==========
    script(src='https://js.pusher.com/7.0/pusher.min.js')
    script(type='module' src='/js/lobby.js')