doctype html
html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')

  //- head 
  //-   title Register
  block content 
    block content 
    .p-4.container.col-7
      #error
        if errors
          p.text-danger #{errors}


      form#registerForm(class='form-signin' action='/register' method='POST')
        
        h1.m-5.text-center Register
        hr

        .form-group
          label(for='username' class='sr-only') Username
          input(type='text' name='username' id='username' class='form-control' placeholder='Username')

        .form-group
          label(for='first_name' class='sr-only') First Name
          input(type='first_name' name='first_name' id='first_name' class='form-control' placeholder='First name')
        
        .form-group
          label(for='last_name' class='sr-only') Last Name
          input(type='last_name' name='last_name' id='last_name' class='form-control' placeholder='Last name')
        
        .form-group
          label(for='password' class='sr-only') Password
          input(type='password' name='password' id='password' class='form-control' placeholder='Password')

          .form-group
          label(for='Password2' class='sr-only') Confirm Password
          input(type='password' name='password2' id='Password2' class='form-control' placeholder='Confirm Password')
        
        button(id='button' class='btn btn-secondary' type='submit') Register
      
      p.pt-3.text-center
        | Already have an account? 
        a(href='/login.pug') Login